<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,500&family=Rubik:wght@300..900&display=swap" rel="stylesheet">
    <title>Anime Quotes</title>
    <link rel="stylesheet" href="../public/styles/main.css">
  </head>
  <body>
    <div class="container">
      <img src="../public/images/background.jpg" alt="sky-background" class="background">

      <div class="card-wrapper">
        <img src="../public/images/character.png" alt="old-man">
        <div class="left-content">
          <h1>I can't understand what my husband is saying</h1>
          <p>is Danna ga Nanu o Itteiru ka Wakaranai Ken</p>
        </div>
        <div class="right-content">
          <p class="quote">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis vel nihil saepe velit odio autem rerum mollitia! Cum incidunt iusto consectetur quam delectus minus! Id, vero! Nam nostrum nemo tempore.</p>
          <p class="speaker">Hiroshima Nagasuki</p>
        </div>
      </div>
    </div>
  </body>
</html>
